h1 {
    text-align: center; color: red; background-color: black;
}
h2 {
    font-style: italic; color: blue;
}
.Cor-links {
    font-style: italic; color: #e14193;
}
.estilo-link {
    font-family: 'Times New Roman', Times, serif; 
}
mark {
    background-color: green;
}
#barra {
    font-weight: bolder ; background-color: red; color: white;
}